.brand {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: center;
  background-color: #007bff00;
  margin-bottom: 10px;
}
.register-logos{
  height: 5rem;
}
.NexTalk {
  color: white;
  font-size: 30px;
}
.register-form{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color:#282a2de6;
  border-radius: 10px;
  padding: 50px 60px;
  width: 350px;
  height: auto;
  align-items: center;
}
input {
  padding: 10px;
  border: 1px solid #fdfcff;
  border-radius: 0.4rem;
  color: rgb(0, 0, 0);
  width: 100%;
  font-size: 1rem;
}
input:focus {
  border: 1px solid #000000;
  outline: none;
}
button {
  background-color: #2d78c4;
  color: white;
  padding: 11px;
  border: none;
  border-radius: 0.4rem;
  font-size: 18px;
  font-family: 'Times New Roman', Times, serif;
  width: 370px;
}
button:hover{
  cursor: pointer;
  background-color:#0262c3;
}

span{
  color: white;
  /* text-transform: uppercase; */
}
a{
  color:#f69999;
  text-decoration: none;
  font-weight: bold;
}
.main1{
  display: flex;
  justify-content: center;
}
.upperMain{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
@media only screen and (max-width: 450px){
  .main1{
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  gap: 100px;
  }
  .register-form{
    width: 240px;
    height: auto;
    padding: 50px;
  }
  button{
    width: 240px;
  }
  .register-logos{
    height: 3rem;
  }
  h1 {
    color: white;
    text-transform: uppercase;
    font-size: larger;
  }
  input{
    padding: 5px;
    margin: -5px;
  }
  .animation{
    width: 200px;
  }
}
.animation{
  width: 550px;
  height: 100%;
  border-radius: 32px;
  background-size: cover;
}