.chatcontainer {
  display: grid;
  grid-template-rows: 10% 80% 10%;
  overflow: hidden;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
}
@media screen and (min-width: 720px) and (max-width: 1080px) {
  .chatcontainer {
    grid-template-rows: 15% 70% 15%;
  }
}
.chat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  background-color: #000000;
  border-left: 2px solid #000000;
}
.user-details {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
}
.avatar > img {
  height: 3rem;
}
.username > h3 {
  color: rgb(255, 255, 255);
}
.chat-messages {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow: auto;
  background-color: #000000ce;
}
.chat-messages::-webkit-scrollbar {
  width: 0.2rem;
}
.chat-messages-thumb {
        background-color: #00000039;
        width: 0.1rem;
        border-radius: 1rem;
      }
.message {
  display: flex;
  align-items: center;
}
.content {
  max-width: 40%;
  overflow-wrap: break-word;
  padding: 0px 15px 0px 15px;
  font-size: 1.1rem;
  border-radius: 15px;
  color: #ffffff;
}
@media screen and (min-width: 720px) and (max-width: 1080px) {
  .content {
    max-width: 70%;
  }
}
.sended {
  justify-content: flex-end;
}
.sended > .content {
  background-color: #000000;
}

.recieved {
  justify-content: flex-start;
}
.recieved > .content {
  background-color: #000000;
}
