.logout-button {
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 1rem; */
  border-radius: 50%;
  background-color: #2d78c4;
  border: none;
  cursor: pointer;
}
.logout-icon {
  font-size: 1.5rem;
  color: #ffffff;
}
